@font-face {
    font-family: "OngleleafYoseop";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYoseop/OngleleafYoseop.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYoseop/OngleleafYoseop.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYoseop/OngleleafYoseop.ttf") format("truetype");
    font-display: swap;
}

.OngleleafYoseop {
    font-family: "OngleleafYoseop";
}
